@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b2mryb');
  src:  url('fonts/icomoon.eot?b2mryb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b2mryb') format('truetype'),
    url('fonts/icomoon.woff?b2mryb') format('woff'),
    url('fonts/icomoon.svg?b2mryb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-telegram-plane:before {
  content: "\74";
}
.icm-whatsapp:before {
  content: "\77";
}
.icm-facebook-f:before {
  content: "\66";
}
.icm-skype:before {
  content: "\73";
}
.icm-vk:before {
  content: "\76";
}
.icm-calendar-check:before {
  content: "\e905";
}
.icm-edit:before {
  content: "\e906";
}
.icm-angle-up:before {
  content: "\5e";
}
.icm-at:before {
  content: "\40";
}
.icm-desktop:before {
  content: "\e909";
}
.icm-map-marker:before {
  content: "\6d";
}
.icm-mobile-alt:before {
  content: "\e90b";
}
.icm-phone:before {
  content: "\70";
}
.icm-angle-left:before {
  content: "\3c";
}
