$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icm-telegram-plane: "\74";
$icm-whatsapp: "\77";
$icm-facebook-f: "\66";
$icm-skype: "\73";
$icm-vk: "\76";
$icm-calendar-check: "\e905";
$icm-edit: "\e906";
$icm-angle-up: "\5e";
$icm-at: "\40";
$icm-desktop: "\e909";
$icm-map-marker: "\6d";
$icm-mobile-alt: "\e90b";
$icm-phone: "\70";
$icm-angle-left: "\3c";

